<div class="col-3 col-6-medium col-12-small">

	<!-- Feature -->
		<section class="box feature">
			<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a> {# FIXME #}
			<h3><a href="#">{{ page.title }}</a></h3> {# FIXME: link target #}
			{{ page.content|raw }}
		</section>

</div>
