{% extends 'default.html.twig' %}

{% block inner_content %}
	<article class="box page-content">
		<header>
			<h2>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ header.http_response_code }}</h2>
		</header>

		<section>
			{{ page.content|raw }}
		</section>
	</article>
{% endblock %}