{% extends 'no-sidebar.html.twig' %}

{% block stylesheets %}

	{# TODO: allow setting these background paths in theme.yaml #}
	{% set inline_css %}
	#banner {
		background-image: url("{{ url('theme://css/images/overlay.png') }}"), url("{{ url('theme://css/images/overlay.png') }}"), url("{{ url('theme://images/banner.jpg') }}");
	} 
	{% endset %}

	{{ parent() }}
	{% do assets.addInlineCss(inline_css) %}

{% endblock %}

{% block body %}
	{% include 'partials/banner.html.twig' %}

	<!-- Main -->
		<section id="main">
			<div class="container">
				<div class="row gtr-200">

				{% include 'partials/highlights.html.twig' %}

{# 
{% block content %}
	<div class="col-12">
		<div class="content">
			{% include 'partials/page-content.html.twig' %}
		</div>
	</div>
{% endblock %} #}

					{# {% block content %}{% endblock %} #}
					{% block features %}{% endblock %}
				</div>
			</div>
		</section>

{% endblock %}
