{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="col-12">
		<div class="content">
			{% include 'partials/page-content.html.twig' %}
		</div>
	</div>
{% endblock %}

{% block features %}
	{% include 'partials/page-features.html.twig' %}
{% endblock %}
