{% extends 'partials/base.html.twig' %}

{% block content %}

	<div class="col-9 col-12-medium">
		<div class="content">
			{% block inner_content %}
				{% include 'partials/page-content.html.twig' %}
			{% endblock %}
		</div>
	</div>

	<div class="col-3 col-12-medium">
		<div class="sidebar">
		{% block sidebar %}
			{% include 'partials/sidebar.html.twig' %}
		{% endblock %}
		</div>
	</div>

{% endblock %}

{% block features %}
	{% include 'partials/page-features.html.twig' %}
{% endblock %}
